* {
  font-family: Arial, Helvetica, sans-serif;
}

body {  
  background-image: linear-gradient(to right, #1C8394, #154B52);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #000b0d94 ;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #A52502;
  text-align: center;
  text-shadow: 1px 1px 0px #000b0da4;
}

h2 {
  color: #5c1604;
}

p { 
  text-align: justify;
}