* {
    padding: 0px;
    margin: 0px;
}

body {
    background: black url("../imagens/fundo-madeira.jpg") center center no-repeat fixed;
    background-size: cover;
}

section img#iphone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    min-width: 250px;
}

section iframe {
    
}

section ul li img {
    position: relative;
    left: 95%;
    margin: 20px -20px -10px 0px;
    border-radius: 100%;
    width: 4%;
    min-width: 40px;
}
